<footer>
    <div class="f-info">
        <div class="upper-footer">
            <div class="support-div">
                <h3>Support</h3>
                <ul>
                    <a href="/help"><li>Help Centre</li></a>
                    <li>Get help with a safety issue</li>
                </ul>
            </div>
            <div class="hosting-div">
                <h3>Hosting</h3>
                <ul>
                    <li>About us</li>
                    <li>Company Details</li>
                    <li>Community forum</li>
                </ul>
            </div>
            <div class="LeaseNest-div">
                <h3>LeaseNest</h3>
                <ul>
                    <li>New Release</li>
                    <li>Careers</li>
                </ul>
            </div>
        </div>
        <hr class="line">
        <div class="lower-footer">
            <div class="f-info-links">
                <h6 class="f-info-brand">&copy; LeaseNest Private Limited</h6>
                <ul class="add-pages">
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/terms">Terms</a></li>
                </ul>
            </div>
            <div class="f-info-socials">
                <h6 class="globe-icon-div"><span class="material-symbols-outlined">
                        language
                    </span> <b>English (IN)</b></h6>
                <h6><b>&#8377; &nbsp;&nbsp;INR</b></h6>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <a style="color: black;" href="https://www.linkedin.com/in/divyansh--choudhary/" ><i class="fa-brands fa-square-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>