<% layout("/layouts/boilerplateFooterPages") %>

    <style>
        .link-icons {
            display: flex;
            max-width: 300px;
            max-height: 300px;
        }

        .link-icons a {
            text-decoration: none;
            color: black;
            margin: 10px;
            opacity: 0.8;
            font-size: 35px;

        }


        .link-icons a:hover {
            opacity: 1;
        }
    </style>



    <div class="contact-info-div mt-5 mb-5">
        <h3>Contact us</h3>
        <h5>Last Updated on: 20/10/2025</h5>
        <br>
        <h5>You may contact us using the information below:</h5>
        <br>
        <h4>Merchant Legal Entity Name: <b>DIVYANSH CHOUDHARY</b></h4>
        <h4>Registered Address: <b>JAIPUR, RAJASTHAN, INDIA</b></h4>
        <h4>E-mail Id: divyanshchoudhary789@gmail.com</h4>
        <br>
        <br>
        <div class="link-icons">
            <a href="https://www.linkedin.com/in/divyansh--choudhary/"><i class="fa-brands fa-linkedin"></i></a>
            <a><i class="fa-brands fa-square-instagram"></i></a>
            <a><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
    </div>